@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* #1c2733 in HSL is 211 29% 15% */
    --background: 211 29% 15%;
    --foreground: 210 40% 98%;
    --card: 211 29% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 211 29% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 211 25% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 211 20% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 211 25% 25%;
    --input: 211 25% 25%;
    --ring: 217 91% 60%;
    --radius: 1.25rem;
  }

  .dark {
    --background: 211 29% 15%;
    --foreground: 210 40% 98%;
    --card: 211 29% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 211 29% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 211 25% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 211 20% 22%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 91% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 211 25% 22%;
    --input: 211 25% 22%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body font-bold antialiased;
    font-family: 'Inter', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-body font-bold tracking-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}